[project]
	description = This will contain tools for top vulns have been classified by OWASP.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Reznov Ammar (reznov11)
[access "refs/for/refs/*"]
	read = group user/Reznov Ammar (reznov11)
	push = group user/Reznov Ammar (reznov11)
	label-Code-Review = -2..+2 group user/Reznov Ammar (reznov11)
	label-Verified = -1..+1 group user/Reznov Ammar (reznov11)
	rebase = group user/Reznov Ammar (reznov11)
	removeReviewer = group user/Reznov Ammar (reznov11)
	submit = group user/Reznov Ammar (reznov11)
[access "refs/heads/*"]
	read = group user/Reznov Ammar (reznov11)
	create = group user/Reznov Ammar (reznov11)
	push = +force group user/Reznov Ammar (reznov11)
	pushMerge = group user/Reznov Ammar (reznov11)
[access "refs/tags/*"]
	push = +force group user/Reznov Ammar (reznov11)
	pushTag = group user/Reznov Ammar (reznov11)
	pushSignedTag = group user/Reznov Ammar (reznov11)
