<head>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="base/javascript/drops.js"></script>
  
  <script type="text/javascript">

    function ondata(data) {

      $('#div-my-table').empty();

      var docs = data.response.docs;
      HttpContext.Current.Response.AddHeader("Access-Control-Allow-Origin","*");
      $.each(docs, function(i,item){

        $('#div-my-table').prepend($('<div>' + item.id + '</div>'));

      });

      var total = 'Found ' + docs.length + ' results';
      $('#div-my-table').prepend('<div>' + total + '</div>');

    };

    function on_search(){

      var query = $('#street_name').val();
      if(query.length == 0) {
        return;
      }

      var url = "http://192.168.1.100:8983/solr/select/?q="+query+
       "&version=2.2&start=0&rows=50&indent=on&wt=json"

      $.getJSON(url, ondata);

    };


    function onready(){

      $('.btn-warning').click(on_search);
      
      $('body').keypress(function(e){

        if(e.keyCode == '13') {

          on_search();

        }

    });


    };

    $(document).ready(onready);

  </script>

</head>

<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      
      <div class="span6 col2">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">
        {# Note: this featured_group block is used as an example in the theming
           tutorial in the docs! If you change this code, be sure to check
           whether you need to update the docs. #}
        {# Start template block example. #}
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
        {# End template block example. #}
      </div>
      <div class="span6 col2">
        {% block featured_organization %}
          {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
    </div>
    <div class="dropme">

      {% block drops %}
        {% snippet 'home/drops.html' %}
      {% endblock %}

    </div>
    
  </div>
</div>
